/* Star * => Apply for All Elements*/
* {
    text-align: right;
}

body {
    background-image: url(backgroundImage.jpg);
    /*Image to fit the page*/
    background-size: cover;
}


h2 + p:hover {
    color:rgb(255,0,0);
    text-align: center;
    /*rgba => transparent*/
    border: 5px solid rgba(255,176,170,0.5);
    cursor: pointer;
}

p {
    color: #AA4139 !important;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:first-child{
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1{
    background: rgba(0,0,255,0.2)
}

#div2{
    background: rgba(255,0,0,0.2)
}