/* Star * => Apply for All Elements*/
* {
    text-align: right;
}

body {
    background-image: url(backgroundImage.jpg);
    /*Image to fit the page*/
    background-size: cover;
}


h2 + p {
    color:rgb(255,0,0);
    text-align: center;
    /*rgba => transparent*/
    border: 5px solid rgba(255,176,170,0.5);
    cursor: pointer;
}

p {
    color: #AA4139;
    /*text-decoration: underline;*/
    text-transform: uppercase;
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    /*If browser dont have Times New Roman, then use Georgia*/
    /*Depends on the computer*/
    font-family: 'Poiret One', cursive;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext:first-child{
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1{
    background: rgba(0,0,255,0.2)
}

#div2{
    background: rgba(255,0,0,0.2)
}